<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="homepage-background">
    <div class="homepage-content">
        <h1>APItronic'e Hoş Geldiniz</h1>
        <p>APItronic'e hoş geldiniz! Aşağıdaki bağlantılarla giriş yapabilir ya da yeni bir hesap oluşturabilirsiniz.</p>
        <div class="buttons">
            <a href="/login" class="btn">Giriş Yap</a>
            <a href="/signup" class="btn">Üye Ol</a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
