<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container">
    <h1>APItronic - Hoş Geldiniz</h1>
    <p>APItronic'e hoş geldiniz! Aşağıdaki bağlantılar aracılığıyla hesabınıza giriş yapabilir veya yeni bir hesap oluşturabilirsiniz.</p>
    <div class="buttons">
        <a href="/login" class="btn">Giriş Yap</a>
        <a href="/signup" class="btn">Üye Ol</a>
    </div>
</div>

<%- include('partials/footer') %>
